:root {
    --splice-wk-background-color: snow;
    --splice-wk-text-color: red;
    --splice-wk-font-family: sans-serif;
}

.hidden {
    display: none;
}
:root,
body {
    background-color: #f70000;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}
