.idea/
node_modules/
dist
npm-debug.log
.env
.DS_Store
*.tsbuildinfo
**/build
.temp/

.canton/
.splice/
.localnet/
log/

generated/

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
