# SPDX-License-Identifier: Apache-2.0

# Splice wallet kernel admins
*       @hyperledger-labs/splice-wallet-kernel-admins

# Splice wallet kernel maintainers
*       @hyperledger-labs/splice-wallet-kernel-contributors