# SPDX-License-Identifier: Apache-2.0

# Splice wallet kernel maintainers (Default)
*                  @hyperledger-labs/splice-wallet-kernel-contributors

# Splice wallet kernel admins
.git/*             @hyperledger-labs/splice-wallet-kernel-admins
CODEOWNERS         @hyperledger-labs/splice-wallet-kernel-admins
