name: CI on PRs (Splice Contributors)
run-name: ${{ github.actor }} is perfoming a Pull Request
on: push
permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Enable Corepack
              run: corepack enable

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 'v22.16.0'
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --immutable

            - name: prettier code
              run: yarn run prettier . --check

            - name: eslint code
              run: yarn workspaces foreach -A run eslint

            - name: run codegen
              run: yarn generate:all

            - name: Build project
              run: yarn build:all

            - name: check package.json names
              run: yarn script:cleancoding

            - name: check open-rpc specs titles
              run: yarn script:openrpc:titles

            - name: Run unit tests
              run: yarn test:all
#            TODO(#254): investigate flakyness before re-enabling
#            - name: Cache Playwright Browsers
#              uses: actions/cache@v4
#              with:
#                  path: example/node_modules/.cache/ms-playwright
#                  key: playwright-browsers-${{ runner.os }}-${{ hashFiles('example/package-lock.json', 'example/yarn.lock') }}
#                  restore-keys: |
#                      playwright-browsers-${{ runner.os }}-
#
#            - name: Install Playwright Browsers
#              run: yarn workspace example playwright install --with-deps
#
#            - name: Download Canton
#              run: yarn script:fetch:canton
#
#            - name: Start Canton
#              run: yarn start:canton &
#
#            - run: yarn workspace clients-remote run start &
#
#            - run: yarn workspace example run dev &
#
#            - run: yarn workspace mock-oauth2 start &
#
#            - name: Run example e2e
#              run: yarn workspace example run playwright test
#
#            - uses: actions/upload-artifact@v4
#              if: ${{ !cancelled() }}
#              with:
#                  name: playwright-report
#                  path: example/playwright-report/
#                  retention-days: 30
