name: Publish packages
run-name: Publishing to npm

on:
    push:
        branches:
            - main
            - 'backport/**'
permissions:
    contents: read
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  fetch-tags: true

            - name: Enable Corepack
              run: corepack enable

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 'v22.16.0'
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --immutable

            - name: Generate
              run: yarn generate:all

            - name: Build
              run: yarn build:all

            # NX does not currently support publishing through yarn: https://github.com/nrwl/nx/issues/29242
            # So we publish all workspaces through yarn directly
            - name: Publish
              run: |
                  yarn config set npmAuthToken ${{ secrets.NPM_TOKEN_DA }}

                  branch=$(git rev-parse --abbrev-ref HEAD)

                  # For backports, we want to publish under a separate tag to avoid overriding latest
                  npmTag="bugfix"

                  if [[ "$branch" == "main" ]]; then
                      npmTag="latest"
                  fi

                  yarn workspaces foreach --no-private -t -A --include 'core/*' --include 'sdk/*' --include 'sdk-support/*' --include 'wallet-gateway/*' --include 'examples/*' npm publish --tolerate-republish --tag $npmTag
